---
layout: abstract.njk
title: Generation of Generalized 3-Regular Graphs
conference: Computers in Scientific Discovery 5
location: Sheffield, UK
conferenceDate: July 20-23, 2010
---

<p>In this talk we describe a generator for more general classes of cubic graphs, like cubic graphs with loops, cubic multigraphs, cubic graphs with semi-edges (i.e. dangling edges) and any combination of these. The generator is based on a generator for simple cubic graphs presented in another talk. We will describe how the graphs can be constructed from simple graphs and will describe the isomorphism rejection methods which are based on McKay's canonical construction path method and the homomorphism principle. The problem is first translated to the generation of (multi)graphs with degree 1 and 3. In a later phase the vertices with degree 1 give rise to the loops and/or the semi-edges. We will also present the results of our generation.</p>
