---
layout: abstract.njk
title: Generation of Delaney-Dress Symbols
conference: Computers in Scientific Discovery 6
location: Portoroz, Slovenia
conferenceDate: August 21-25, 2012
---

<p>Delaney-Dress symbols are a powerful tool to describe tilings of the Euclidean plane E2 and hyperbolic plane H2 invariant under a crystallographic group. In this talk we will present a new algorithm for generating Delaney-Dress symbols. We use canonical construction paths in combination with group theoretical tests to avoid the generation of isomorphic copies. This will allow us to get new results for several classes of tilings. We also use this method to classify edge-to-edge tilings of the Euclidean plane E2 by equilateral triangles.</p>
