---
layout: abstract.njk
title: GrInvIn voor Onderwijsdoeleinden
conference: Educational Innovation Day Ghent University
location: Ghent, Belgium
conferenceDate: May 10, 2007
lang: nl
---

<p>Tijdens de vakantie van 2004 ging het gerucht dat Vince van der Veen op één week tijd wiskundige stellingen had leren bewijzen en dat hij veel plezier beleefde aan het oplossen van wiskundeproblemen. Hij was op dat moment 15 jaar en leerling van de derde graad Technisch Secundair Onderwijs. Tegelijk werden op onze vakgroep de eerste stappen genomen voor de ontwikkeling van een programma waarin leerlingen en studenten zelf conjecturen kunnen formuleren. Er werd contact opgenomen met Vince en zijn leraar en het avontuur begon.</p>

<p>De leerlingen uit de derde graad wiskunde van het <em>Onze-Lieve-Vrouwecollege Assebroek</em> gingen aan de slag met GrInvIn: <em>Graph Invariants and Inequalities</em>. Dit educatief softwarepakket laat gebruikers toe om zelf conjecturen te formuleren over grafentheorie. GrInvIn vertrekt van meer dan 150 grafen en 60 graaf-invarianten. Het geeft de gebruiker de mogelijkheid om eenvoudige vermoedens op te stellen. Deze vermoedens worden dan aan de hand van grafen uit de database van GrInvIn getest. Op deze manier kunnen leerlingen/studenten op een speelse manier kennismaken met bewijzen, grafentheorie en onderzoek.</p>

<p>Deze bijdrage beschrijft de ervaringen die we opdeden bij het gebruik van dit pakket in de klas, de moeilijkheden die we ondervonden en de positieve reacties die we kregen.</p>
